<!DOCTYPE html>
<head>
	<title>Cats' action</title>
	<style type:"text/css">

<style>
*{margin:100;padding:100;}       
#nav{ width:900px;height:50px;    
font-family:'Georgin';          
background:#6ac;                             
border-radius:5px;                
}
#nav ul li{list-style:none;    
float:left;                    
width:120px;               
height:50px;                  
line-height:50px;              
text-align:center;            
}
#nav ul li:hover{
cursor:poiinter;         
background:#f34;      
border-radius:5px;   
}
#nav ul li a{text-decoration:none;
color:#fff;    
}

  body{paddint-top: 50px}
  h3{color:blue}
  p{color:orange}
  </style>
</head>
<body>
	<body background="static/img/bg1.jpg">
<div id="nav">
        <ul>
<li><a href="/">HOME</a></li>
          <li><a class="navbar-brand" href="/breeds">Breeds</a></li>
         <li class="active"><a href="/action">Action</a></li>
         <li><a href="/history">History</a></li>
         <li><a href="/login" >login</a></li>
         <li><a href="/con" >Contact</a></li>
         <div class="navbat-brand"></div>
        </ul>
      </div>    

	
	<em><h3>Rolling and revealing belly</h3></em><p>When will the cat roll in place, stretch the limbs, open the mouth, dance the paws, and gently swing the tail:  for strangers, the cat is rarely risky to do this attitude, because the back will make it easy Hurt, so the cat made such a gesture is saying: "I trust you!"</p>
	<img src="static/img/dagun.jpg" width="241"/>
	<em><h3>Rub you and lick yourself</h3></em><p>The ability of the cat to recognize the smell is very strong, and when you meet, it will first wipe you sideways, and then sit down and taste your taste -the way is to lick the tongue with it just carefully in your body rubbed the hair</p>
	<img src="static/img/tianmao.jpg" width="241"/>
	<em><h3>Wagging the tail</h3></em><p>dog wagging the tail is not necessarily happy, the cat must be angry is not right Cat wagging the tail most of the time is in the expression of the feelings are - contradictory, dilemma. If the cat cried to go out and open the door but found heavy rain, then it will start swinging the tail. If it is regardless of the rain, rushed out to stand for a while was soaked, its tail will shake even more fierce. Once it made up his mind - ran back to the house or bravely set out the parade, its tail would immediately stop swinging.</p>
  <img src="static/img/yaoweiba.jpg" width="241"/>
  <em><h3>Express the good impression</h3></em><p>The cat is not as good as the dog to express the good impression, so that we often think that the cat is not friendly and indifferent.
In fact, the cat will be a good impression, the people, on other cats, and even for the birth or care of kittens also so. How does the cat show you a good impression? Here are 15 ways:</p>
<p>1. The most common way to express a good impression is to use your tail around you, touch your legs with your head or body, rub you with your ear or face. Doing so is to leave a familiar smell on you, make it feel more comfortable, or it may be your subordinate.</p>
<p>2. licking you like licking other cats, which means trust and goodwill.</p>
<p>3. When the person strokes it, it licks itself, "tastes" the smell of people. This smell is something we can not smell and the cat can detect.</p>
<p>4. When the cat lying on your lap, is certainly a good impression on you, it will not jump to the people do not like the knee.</p>
<p>5. It gives you a "gift", such as a dead mouse, is that it has a good impression on you, also said it thinks you are its mother.</p>
<p>6. Cat's tail straight is a very strong impression. You will find that when the cat approaches the person or cat it does not know, the tail is hanging down.</p>
<p>7. Tumbling the body that "play with me", the cat will not play with it does not like people.</p>
<p>8. Put the paw on your arm is "Reiterate" It's good for you.</p>
<p>9. When it is slowly bent back, rub your legs, it is said to you: "I love you!"</p>
<p>10. There are a lot of reasons for the cat to grumble, and if it is called when you rub you, it means that it really loves you</p>
<img src="static/img/images.jpg" width="241"/>
<em><h3>Feeling calm and calm</h3></em><p>?Cat lying or sitting, pupil shrink into a straight line, eyes half open, or even completely closed. It will easily use the forefoot to wash your face, wash your ears. Lie down, the body stretched forward, or the body rolled into a ball. When it is full, it will stretch the forefoot before low and high.</p>
<img src="static/img/10.jpg" width="241"/>
<em><h3>Happy to say hello</h3></em><p>Stand upright, tail straight, tail tip gently left and right shake. Head up, squinting.</p>
<img src="static/img/miyan.jpg" width="241"/>
<em><h3>Want to close to you</h3></em><p>?Sitting, the pupil slightly put, big tail upright, or gently shake, a look to feel it wants to come over</p>
<img src="static/img/7.jpg" width="241"/>
<em><h3>Spoiled</h3></em><p>?It will be around your feet, constantly with the head to dawdle. You put it on the table, it will use the head, chin, constantly grinding your face</p>
<img src="static/img/14.jpg" width="241"/>
<em><h3>welcome</h3></em><p>When you go home, it will go to the door to sit, slowly and greatly shook the tail that is very happy, you come back, welcome welcome.</p>
<img src="static/img/2.jpg" width="241"/>
<em><h3>Trust</h3></em><p>It will be four feet overturned, rolling on the ground, that it completely trust you, feel very safe.</p>
<img src="static/img/6.jpg" width="241"/>
<em><h3>To patrol border</h3></em><p>It will be gently, the tail stretched around. There is an intruder, it will first explore how the intention of those who come.</p>
<img src="static/img/4.jpg" width="241"/>


</body>
</html>