<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
<title>BREEDS OF CATS</title>
<style type:"text/css">
	
img{
		display:block;
		margin:0 auto;}
		
*{margin:100;padding:100;}        
#nav{ width:900px;height:50px;     
font-family:'Georgin';          
background:#6ac;                
                               
border-radius:5px;               
}
#nav ul li{list-style:none;    
float:left;                    
width:120px;                
height:50px;                  
line-height:50px;              
text-align:center;           
}
#nav ul li:hover{
cursor:poiinter;         
background:#f34;     
border-radius:5px;   
}
#nav ul li a{text-decoration:none;
color:#fff;
}

		
  body{paddint-top: 50px}
  h3{color:blue}
  p{color:orange}
  </style>

</head>

<body>
	
		<div id="nav">
        <ul>
<li><a href="/">HOME</a></li>
         <li><a class="navbar-brand" href="/breeds">Breeds</a></li>
         <li class="active"><a href="/action">Action</a></li>
         <li><a href="/history">History</a></li>
         <li><a href="/login" >login</a></li>
         <li><a href="/con" >Contact</a></li>
         <div class="navbat-brand"></div>
        </ul>
      </div> 	

<body background="static/img/bg1.jpg">

	<div class="article_content">
		<em><body text="#ooooff"><ul>
	<table align="center" cellpadding="10" cellspacing="10" style="width:500px">
		<tbody>
	<tr>
		<td>	
<a href="/bs" title="british shorthair">
 <img src="static/img/yingduan1.jpg"width="512" height="340"/>
 British Shorthair
</a>
    </td>	
    <td>
<a href="/rag" title="Ragdoll">
	<img src="static/img/buou1.jpg" width="512" height="340"/>
	Ragdoll
</a>
    </td>
  </tr>
  <tr>
  	<td>
<a href="/per" title="Persian">
	<img src="static/img/bosi1.jpg" width="512" height="340""/>
	Persian
</a> 
    </td>
    <td>
<a href="/lr" title="Lynx Rufus">
	<img src="static/img/meiduan1.jpg" width="512" height="340"/>
	Lynx rufus
</a> 
    </td>
  </tr>
  <tr>
  	<td>
<a href="/sf" title="Scottish Fold">
	<img src="static/img/suzhe1.jpg" width="512" height="340"/>
	Scottish Fold
</a>
    </td>
    <td>
<a href="/es" title="Exotic Shorthair">
	<img src="static/img/yiduan1.png" width="512" height="340"/>
	Exotic Shorthair
</a>
    </td>
  </tr>
  <tr>
  	<td>
<a href="/clm" title="Chinese LiHua Mao">
	<img src="static/img/zhongli1.jpg" width="512" height="340"/>
	Chinese LiHua Cat
</a>
  </td>
  <td>
<a href="/rm" title="RagaMuffin">
	<img src="static/img/lanlv1.jpg" width="512" height="340"/>
	RagaMuffin
</a>
    </td>
  </tr>
  <tr>
  	<td>
<a href="/nfc" title="Norwegian Forest Cat">
	<img src="static/img/nuowei1.jpg" width="512" height="340"/>
	Norwegian Forest Cat
</a>
    </td>
    <td>
<a href="/s" title="Siamese">
	<img src="static/img/xianluo1.jpg" width="512" height="340"/>
	Siamese
</a>
    </td>
  </tr>
  <tr>
  	<td>
<a href="/as" title="American Shorthair">
	<img src="static/img/meiduanmao1.jpg" width="512" height="340"/>
	American Shorthair
</a>
    </td>
    <td>
<a href="/aw" title="American Wirehair">
	<img src="static/img/meigang1.jpg" width="512" height="340"/>
	American Wirehair
</a>
    </td>
  </tr>
  <tr>
  	<td>
<a href="/pb" title="Prionailurus bengalensis">
	<img src="static/img/baomao1.jpg" width="512" height="340"/>
	Prionailurus bengalensis
</a>
    </td>
    <td>
<a href="/rbc" title="Russian Blue cat">
	<img src="static/img/elan1.jpg" width="512" height="340"/>
	Russian Blue cat
</a>
    </td>
  </tr>
  <tr>
  	<td>
<a href="/ta" title="Turkish Angora">
	<img src="static/img/tuan1.jpg" width="512" height="340"/>
	Turkish Angora
</a>
    </td>
    <td>
<a href="/c" title="Chartreux">
	<img src="static/img/shate1.jpg" width="512" height="340"/>
	Chartreux
</a>
    </td>
  </tr>
  <tr>
  	<td>
<a href="/t" title="TONKINESE">
	<img src="static/img/dongqi1.jpg" width="512" height="340"/>
	TONKINESE
</a>
    </td>
    <td>
<a href="/b" title="Bombay">
	<img src="static/img/mengmai1.jpeg" width="512" height="340"/>
	Bombay
</a>
    </td>
  </tr>
  <tr>
  	<td>
<a href="/bi" title="Birman">
	<img src="static/img/boman1.png" width="512" height="340"/>
	Birman
</a>
    </td>
    <td>
<a href="/ac" title="American Curlyhair">
	<img src="static/img/meijuan1.jpg" width="512" height="340"/>
	American Curlyhair
</a>
    </td>
  </tr>
</tbody></table></ul></em>

 	<h3>The channels of buying pets in UK:</h3>
 	<p>The most famous site called pet 4 Homes, this site is dedicated to selling pet people advertising, not just cats and dogs, other pets are also sold.<a href="https://www.pets4homes.co.uk/" target="_blank">www.pets4homes.co.uk</a></p>
 	<img src="static/img/ph.jpg" width="200"/>
In addition, we can also from the <em><a href="https://www.gumtree.com/pets" target="_blank">Gemteli</a></em> or <em><a href="http://www.preloved.co.uk/category/home/2154/pets.html?awc=5834_1508617894_6a4eedf099c929e7e85a3d13431ae60b&utm_source=AWin-183309&utm_medium=affiliate&utm_campaign=AffiliateWin" target="_blank">Preloved</a></em> to find the pet people to advertise, or direct Google you want to buy pet variety + breeder keywords.If there is a pet shop near you, although some shops may not sell pet directly, but I believe they still have the resources.
<h3>The sites of pet supplier:</h3>
<p>In addition to where to buy pets, buy pet supplies site we also remember, more famous are:
<em><a href="http://www.petsathome.com/" target="_blank">Family pet</a></em> (all the chain can also shop online)
<em><a href="http://www.zooplus.co.uk/?source=aw" target="_blank">Zooplus</a></em> (online only)</p>

<h3>How to adopt animals in the UK</h3>
<p>In the United Kingdom is also a very popular way to adopt a cat and dog, many people actually advocate the adoption rather than the purchase, but in the United Kingdom through the formal institutions to adopt animals need to handle more procedures, mainly to the adoption of the review, Whether you live in the place is suitable for raising animals, there is to see if your background and income is suitable for keeping such a long life of dogs and dogs. If you are interested, you can go to <em><a href="https://www.rspca.org.uk/findapet/rehomeapet" target="_blank">RSPCA</a></em> and <em><a href="https://www.battersea.org.uk/WEBIndex" target="_blank">Battersea Dogs & Cats Home</a></em> (two British well-known animal adoption agencies) to view their adoption process and the adoption of the adoption requirements, adoption of animals, animals are free, but may be charged An adoption fee.</p>
 </div>
</body>
</html>